:root {
  --color-p-1: #550000;
  --header-height: 80px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.pc {
  display: none;
}

body {
  margin: 0;
  margin-top: var(--header-height);
}

header {
  position: fixed;
  inset: 0 0 auto 0;
}

header .info {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.8rem;
  background-color: var(--color-p-1);
  color: white;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

header .info a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("./imgs/monroe-logo-hires.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5rem 0;
}

header label[for="menu"] {
  display: grid;
  place-items: center;
  height: 35px;
  aspect-ratio: 1;
  margin: 0.3rem;
  float: right;
  cursor: pointer;
}

header label[for="menu"] > .stick,
header label[for="menu"] > .stick::after,
header label[for="menu"] > .stick::before {
  --distance: -11.5px;
  width: 100%;
  height: 0.3rem;
  background: var(--color-p-1);
  border-radius: 0.1rem;
  transition: transform 0.2s, background-color 0.2s;
}

header label[for="menu"] > .stick {
  position: relative;
}

header label[for="menu"] > .stick::after,
header label[for="menu"] > .stick::before {
  content: "";
  position: absolute;
}

header nav label[for="menu"] > .stick::after {
  transform-origin: left;
  top: var(--distance);
}

header nav label[for="menu"] > .stick::before {
  transform-origin: left;
  bottom: var(--distance);
}

#menu:checked ~ nav label[for="menu"] > .stick::after {
  transform: translate(0.3rem, 0) rotate(45deg);
}
#menu:checked ~ nav label[for="menu"] > .stick::before {
  transform: translate(0.3rem, 0) rotate(-45deg);
}
#menu:checked ~ nav label[for="menu"] > .stick {
  background-color: transparent;
}

.drop-down-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
}

.drop-down-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: 0px 1px 1px 0px #98abc5;
}

.drop-down-menu ul li {
  background-color: hsl(0, 0%, 88%);
}

.drop-down-menu ul a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.drop-down-menu .contact {
  font-size: 0.8rem;
  text-align: center;
}

.drop-down-menu .contact p {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5rem;
}

.drop-down-menu .contact h3 {
  margin: 1rem 0 0.3rem 0;
}

.drop-down-menu {
  transform: scale(1, 0);
  transform-origin: top;
  color: transparent;
  transition: transform 0.5s 0.1s, color 0.5s;
}

#menu:checked ~ nav .drop-down-menu {

  transition: transform 0.5s, color 0.5s;
  transform: scale(1, 1);
  color: unset;
}

nav .drop-down-menu ul li a {
  color: transparent;
  transition: color 0.5s;
}

#menu:checked ~ nav .drop-down-menu ul li a {
  color: black;
}


section {
  padding: 15px;
}

img.top-banner {
  width: 100%;
  height: auto;
}

.section-one h1 {
  font-family: serif;
  text-align: center;
  font-size: 1.8rem;
  color: #343e57;
  margin-top: 0;
}

.section-one p {
  font-family: sans-serif;
  line-height: 1.4rem;
}

.section-one a {
  text-decoration: none;
  color: var(--color-p-1);
}









.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
}




@media (min-width: 999px) {
  .mobile {
    display: none !important;
  }

  .pc {
    display: unset;
  }

  body {
    margin-top: 0;
  }

  header {
    position: relative;
    padding: 1.2rem 0rem 1.2rem 2rem;
  }

  header nav {
    background-position: left;
    padding: 0.8rem 0rem 0.8rem 2rem;

  }

  header .pc ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
  }

  header .pc ul li {
    --local-color: black;
    --local-transition-time: 0.25s;
    width: max-content;
    transition: background-color var(--local-transition-time), color var(--local-transition-time);
    cursor: pointer;
  }

  header .pc ul li:hover {
    background-color: var(--color-p-1);
    --local-color: white;
  }

  header .pc ul li a {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--local-color);
    transition: color var(--local-transition-time);
  }

  .section-one h1 {
    font-size: 3rem;
    margin-top: unset;
  }

}
